{% extends 'hod_templates/base_template.html'%} {% block page_title %}
<h5> {{title}} </h5>

{% endblock page_title %} 

{% block main_content %}
<section class="content">
    {% if messages %}
    <div class="form-group">
        <div class="col-12">
            {% for message in messages %} {% if message.tags == "error" %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% elif message.tags == "success" %}
            <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="">

        <div class="">

            <div class="card card-primar table-responsive w-100 ">
                <div class="card-header">
                    <span> {{title}} </span>
                    <div class="card-tools d-flex">

                        <a class="btn btn-sm btn-info mr-2" href="{% url 'new_appointment_admin'  %}" role="button">+ New Appointment</a>

                    </div>
                    <form method="GET">
                        <div class="d-flex">
                            <div id="div_id_priority" class="mb-3 col-md-3 col-sm-6"> 
                                <label for="id_priority">
                                    Priority 
                                </label> 
                                <select name="priority" class="form-control select form-select" id="id_priority">
                                    <option value="">All</option>
                                    <option value="Normal" {% if request.GET.priority == "Normal" %} selected="" {% endif %}>Normal</option> 
                                    <option value="Urgent" {% if request.GET.priority == "Urgent" %} selected="" {% endif %}>Urgent</option> 
                                    <option value="Very Urgent" {% if request.GET.priority == "Very Urgent" %} selected="" {% endif %}>Very Urgent</option> 
                                    <option value="Low" {% if request.GET.priority == "Low" %} selected="" {% endif %}>Low</option>
                                </select> 
                            </div>

                            <div id="div_id_status" class="mb-3 col-md-2 col-sm-6"> 
                                <label for="id_status">
                                    Status 
                                </label> 
                                <select name="status" class="form-control select form-select" id="id_status">
                                    <option value="">All</option>
                                    <option value="Pending" {% if request.GET.status == "Pending" %} selected="" {% endif %}>Pending</option> 
                                    <option value="Booked" {% if request.GET.status == "Booked" %} selected="" {% endif %}>Booked</option> 
                                    <option value="Seen" {% if request.GET.status == "Seen" %} selected="" {% endif %}>Seen</option>
                                </select> 
                            </div>

                            <div id="div_id_payment_mode" class="mb-3 col-md-3 col-sm-6"> 
                                <label for="id_payment_mode">
                                    Payment Mode 
                                </label> 
                                <select name="payment_mode" class="form-control select form-select" id="id_payment_mode"> 
                                    
                                    <option value="" selected="">All</option> 
                                    <option value="Cash" {% if request.GET.payment_mode == "Cash" %} selected="" {% endif %}>Cash</option> 
                                    <option value="Upi" {% if request.GET.payment_mode == "Upi" %} selected="" {% endif %}>Upi</option> 
                                    <option value="Bank Transfer" {% if request.GET.payment_mode == "Bank Transfer" %} selected="" {% endif %}>Bank Transfer</option> 
                                    <option value="Other" {% if request.GET.payment_mode == "Other" %} selected="" {% endif %}>Other</option>
                                
                                </select> 
                            </div> 

                            
                            <div id="div_id_doctor" class="mb-3 col-md-3 col-sm-6"> 
                                <label for="id_doctor" class="form-label">
                                    Doctor {{request.GET.doctor}}
                                </label> 
                                <select name="doctor" class="form-control select form-select" id="id_doctor">
                                    <option value="">All</option>
                                    {% for d in doctors %}
                                        <option value="{{d.id}}"  {% if request.GET.doctor == d.id %} selected="" {% endif %}> {{d}} </option>
                                    {% endfor %}
                                </select>
                            </div>


                            <div id="div_id_date" class="mb-3 col-md-2 col-sm-4 ">
                                <label for="id_date">
                                    Date
                                </label>
                                <input type="date" name="date" {% if request.GET.date %} value="{{request.GET.date}}" {% endif %} class="form-control dateinput" id="id_date"> 
                            </div> 

                        </div>
                        <button type="submit" class="btn bg-gray mb-3 col-md-1 col-sm-1">Apply</button>
                    </form>
                </div>
                <table class="table table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>Token</th>
                            <th>Doctor</th>
                            <th>Patient</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Shift</th>
                            <th>Doctor Fees</th>
                            <th>Payment Mode</th>
                            <th>Priority</th>
                            <th>Booking Mode</th>
                            <th>Message</th>
                            <th>Address</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for appointment in appointments %}

                        <tr class="hov">
                            <td> {{forloop.counter}} </td>
                            <td> {{appointment.token}} </td>

                            <td>{{appointment.doctor.admin.get_full_name}}</td>
                            <td>{{appointment.patient.admin.get_full_name}}</td>
                            <td>{{appointment.date|date}}</td>
                            <td>{{appointment.status}}</td>
                            <td>{{appointment.shift}}</td>
                            <td>{{appointment.fee}}</td>
                            <td>{{appointment.payment_mode}}</td>
                            <td>{{appointment.priority}}</td>
                            <td>{{appointment.booking_mode}}</td>
                            <td>{{appointment.message}}</td>
                            <td>{{appointment.address}}</td>

                            <td>
                                <a href="{% url 'edit_appointment_admin' appointment.id %}" class="btn btn-sm btn-success" style="font-size: 12px;"><i class="fa fa-edit"></i></a>
                                <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#exampleModalCenter{{appointment.id}}" style="font-size: 12px;"><i class="fa fa-trash"></i></button>
                                  
                            </td>

                        </tr>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter{{appointment.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter{{appointment.id}}Title" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle"> Confirm Delete </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                Are You Sure to Delete !
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <a href="{% url "delete_appointment_admin" appointment.id %}" type="button" class="btn btn-primary">Delete</a>
                                </div>
                            </div>
                            </div>
                        </div>
                        
                        {% endfor %}

                    </tbody>

                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}
