{% extends 'hod_templates/base_template.html'%} 
{% block page_title %}
<h5>{{ title }} </h5>
{% endblock page_title %} 

{% block main_content %}
<style>
    a.active {
        color: blue !important;
    }
</style>
<section class="content">
    {% if messages %}
    <div class="form-group">
        <div class="col-12">
            {% for message in messages %} 
                {% if message.tags == "error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% elif message.tags == "success" %}
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %} 
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-3">
            <div class="card card-body table-responsive w-100">
                <table>
                    <tbody>
                        <tr>
                            <th>
                                <a href="{% url 'inventory_category_list' %}" class="btn btn-primary {% if request.resolver_match.url_name == 'inventory_category_list' %}active{% endif %}" style="width: 100%; background-color:rgb(232, 222, 222); color:black;font-weight:600">Inventory Category</a>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <a href="{% url 'inventory_store_list' %}" class="btn btn-primary {% if request.resolver_match.url_name == 'inventory_store_list' %}active{% endif %}" style="width: 100%; background-color:rgb(232, 222, 222); color:black;font-weight:600">Inventory Store</a>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <a href="{% url 'inventory_supplier_list' %}" class="btn btn-primary {% if request.resolver_match.url_name == 'inventory_supplier_list' %}active{% endif %}" style="width: 100%;background-color:rgb(232, 222, 222); color:black;font-weight:600">Inventory Supplier</a>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <a href="{% url 'inventory_item_list' %}" class="btn btn-primary {% if request.resolver_match.url_name == 'inventory_item_list' %}active{% endif %}" style="width: 100%;background-color:rgb(232, 222, 222); color:black;font-weight:600">Inventory Items</a>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card card-body table-responsive w-100">
                <div class="card-header">
                    <span>{{ title }}</span>
                    <div class="card-tools d-flex">
                        <!-- Button trigger modal for adding bed type -->
                        <button type="button" class="btn btn-sm btn-info mr-2" data-toggle="modal" data-target="#addcategoryModal">
                            + Add Inventory Category
                        </button>
                    </div>
                </div>
                <table class="table table-bordered table-hover dataTable" id="plist">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in categories %}
                        <tr class="hov">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ c.name }}</td>
                            <td>
                                <!-- Button trigger modal for edit bed type -->
                                <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#editcategoryModal{{ c.id }}">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <!-- Button trigger modal for delete confirmation -->
                                <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal{{ c.id }}">
                                    <i class="fa fa-trash"></i>
                                </button>
                                <!-- Modal for delete confirmation -->
                                <div class="modal fade" id="deleteModal{{ c.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle{{ c.id }}" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalTitle{{ b.id }}">Delete Inventory Category Detail</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure to delete {{ c.name }} ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <a href="{% url 'delete_inventory_category' c.id %}" type="button" class="btn btn-danger">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal for edit bed type -->
                                <div class="modal fade" id="editcategoryModal{{ c.id }}" tabindex="-1" role="dialog" aria-labelledby="editcatModalLabel{{ c.id }}" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <form method="post" action="{% url 'edit_inventory_category' c.id %}">
                                                {% csrf_token %}
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="editcatModalLabel{{ c.id }}">Edit Inventory Category</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="category{{ c.id }}">Bed Type</label>
                                                        <input type="text" class="form-control" id="category{{ c.id }}" name="name" value="{{ c.name }}" required>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-success">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal for adding bed type -->
    <div class="modal fade" id="addcategoryModal" tabindex="-1" role="dialog" aria-labelledby="addcategoryModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form method="post" action="{% url 'add_inventory_category' %}">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="addcategoryModalLabel">Add Inventory Category</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="bedType">Name</label>
                            <input type="text" class="form-control" id="id_name" name="name" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Add Inventory Category</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
