{% extends 'hod_templates/base_template.html'%}
{% load crispy_forms_tags %}
{% block page_title %}
    <!-- Add title here if needed -->
{% endblock page_title %}

{% block main_content %}
<section class="content">
    {% if messages %}
    <div class="row">
        <div class="col-12">
            {% for message in messages %}
                <div class="alert alert-dismissible fade show {% if message.tags == "error" %}alert-danger{% elif message.tags == "success" %}alert-success{% endif %}" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="card card-primary">
        <div class="card-header" style="background:#14A2B8;">
            <h3 class="card-title">New Purchase</h3>
            <div class="card-tools">
                <a class="btn btn-sm btn-info" href="{% url 'add_stock' %}" role="button">Back</a>
            </div>
        </div>
        <form method="POST" action="{% url 'new_purchase' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="date">Date</label>
                            <input id="date" type="date" name="purchase_date" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="invoice">Invoice</label>
                            <input id="invoice" type="text" name="voice_num" value="{{invoice_no}}" placeholder="INV133329" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="manufacture">Manufacturer</label>
                            <select id="manufacture" class="form-control" name="manufacture_name" required>
                                <option>Select One</option>
                                {% for manufacture in manufacture_list %}
                                    <option value="{{manufacture.id}}">{{forloop.counter}} {{ manufacture.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                {% comment %} <div class="row">
                    <div class="col-10">
                        <div class="form-group">
                            <input id="search-input" type="text" placeholder="Search by name or generic" class="form-control">
                            <!-- Change select to ul -->
                            <ul id="search-results" class="list-group" style="display: none;"></ul>
                        </div>
                    </div>
                    <div class="col-2">
                        <button id="add-medicine-btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addMedicineModal">Add Medicine</button>
                    </div>
                </div> {% endcomment %}

                <div class="table-responsive">
                    <table class="table table-bordered table-hover mb-0 small-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th >MEDICINES</th>
                                <th>BATCHES</th>
                                <th>EXPIRED DATE</th>
                                <th>MRP PER UNIT</th>
                                <th>BUY PRICE PER UNIT</th>
                                <th>Unit</th>
                                <th>Quantity</th>
                                <th>SUB TOTAL</th>
                                <th>DISCOUNT(%)</th>
                                <th>TOTAL</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for purchase in purchased_list %}
                                <tr class="hov">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ purchase.drug_name }}</td>
                                    <td><input type="text" style="width: 70px;" required></td> <!-- Adjust width as needed -->
                                    <td><input type="date" style="width: 100px;" required></td> <!-- Adjust width as needed -->
                                    <td><input type="number" value="{{ purchase.mrp_per_unit }}" step="0.01" style="width: 80px;"></td> <!-- Adjust width as needed -->
                                    <td><input type="number" value="{{ purchase.buy_price_per_unit }}" data-type-value="buy_price_per_unit" data-id="{{purchase.id}}" class="changePerUnitPrice" step="1" style="width: 80px;"></td> <!-- Adjust width as needed -->
                                    <td><input type="number" value="{{ purchase.quantity }}" data-type-value="quantity" data-id="{{purchase.id}}" class="changePerUnitPrice" step="1" style="width: 50px;"></td> <!-- Adjust width as needed -->
                                    <td><input type="number" value="{{ purchase.get_total_quanity }}" data-type-value="total_quantity" data-id="{{purchase.id}}" readonly style="width: 50px;"></td> <!-- Adjust width as needed -->
                                    <td>{{ purchase.sub_total }}</td>
                                    <td><input type="number" value="{{ purchase.discount }}" step="1" data-type-value="discount" data-id="{{purchase.id}}" class="changePerUnitPrice" style="width: 50px;"></td>
                                    <td>{{ purchase.total }}</td>
                                    <td><a href="{% url 'delete_searched_stock' purchase.id %}" class="btn btn-sm btn-danger"><i class="fas fa-times"></i></a></td>
                                    <input type="hidden" name="purchase_id[]" value="{{ purchase.id }}">
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <table>
                        <tr>
                            <td>
                                <div class="">
                                    <div class="">
                                        <input id="search-input" type="text" placeholder="Search & Add Medicine" class="form-control">
                                        <!-- Change select to ul -->
                                        <ul id="search-results" class="list-group" style="display: none;"></ul>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="">
                                    <button id="add-medicine-btn" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addMedicineModal">Add Medicine</button>
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="col-md-6 offset-md-6 mt-4"> <!-- Right column for additional content -->
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group row mb-0">
                                <label for="sub_total" class="col-sm-4 col-form-label">Sub Total</label>
                                <div class="col-sm-8">
                                    <span id="sub_total">: {{sub_total}}</span>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label for="medicine_discount" class="col-sm-4 col-form-label">Medicines Discount</label>
                                <div class="col-sm-8">
                                    <span id="medicine_discount">: {{discount}} (%)</span>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label for="total" class="col-sm-4 col-form-label">Total</label>
                                <div class="col-sm-8">
                                    <span id="total">: {{total}}</span>
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label for="paid_amount" class="col-sm-4 col-form-label">Paid Amount:</label>
                                <div class="col-sm-8">
                                    <input id="paid_amount" name="paid_amount" value="{{total}}" type="number" class="form-control" placeholder="Enter amount">
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label for="due_amount" class="col-sm-4 col-form-label">Due Amount:</label>
                                <div class="col-sm-8">
                                    <input id="due_amount" name="due_amount" type="number" value="0" class="form-control" placeholder="Enter amount">
                                </div>
                            </div>
                            <div class="form-group row mb-0">
                                <label for="payment_method" class="col-sm-4 col-form-label">Payment Method:</label>
                                <div class="col-sm-8">
                                    <select id="payment_method" class="form-control" name="payment_type">
                                        <option>Select One</option>
                                        <option>Cash</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary float-right" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    <!-- Modal -->
    <div class="modal fade mt-0" id="addMedicineModal" tabindex="-1" role="dialog" aria-labelledby="addMedicineModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <form method="post" action="{% url 'add_medicine_on_purchese_page' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addMedicineModalLabel">Add Medicine</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{add_medicine_form|crispy}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</section>

<script>
    // Get the input fields for quantity, MRP, and total price
    const quantityInput = document.getElementById('id_quantity');
    const mrpInput = document.getElementById('id_price');
    const totalPriceInput = document.getElementById('id_total_price');
  
    // Add an event listener to the quantity and MRP input fields
    quantityInput.addEventListener('input', calculateTotalPrice);
    mrpInput.addEventListener('input', calculateTotalPrice);
  
    // Define the function to calculate the total price
    function calculateTotalPrice() {
      // Get the current values of the quantity and MRP input fields
      const quantity = parseFloat(quantityInput.value) || 0;
      const mrp = parseFloat(mrpInput.value) || 0;
  
      // Calculate the total price
      const totalPrice = quantity * mrp;
  
      // Set the value of the total price input field
      totalPriceInput.value = totalPrice.toFixed(2);
    }
</script>

{% endblock %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
