{% block main_content %}
<!-- doctor_templates/patient-record/view_patient_detail.html -->

<div class="container">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Patient Name</th>
                <td>{{ data.patient.admin.get_full_name|upper }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ data.patient.phone_number }}</td>
            </tr>
            <tr>
                <th>Purpose</th>
                <td>{{ data.purpose }}</td>
            </tr>
            <tr>
                <th>Department</th>
                <td>{{ data.department.name }}</td>
            </tr>
            <tr>
                <th>Reason</th>
                <td>{{ data.reason }}</td>
            </tr>
            <tr>
                <th>Doctor</th>
                <td>{{ data.doctor.admin.get_full_name }}</td>
            </tr>
            <tr>
                <th>Admission Time</th>
                <td>{{ data.addmission_time }}</td>
            </tr>
            <tr>
                <th>Discharge Time</th>
                <td>{{ data.discharge_time }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ data.weight }}</td>
            </tr>
            <tr>
                <th>BP Systolic</th>
                <td>{{ data.bp_systolic }}</td>
            </tr>
            <tr>
                <th>BP Diastolic</th>
                <td>{{ data.bp_diastolic }}</td>
            </tr>
            <tr>
                <th>Pulse</th>
                <td>{{ data.pulse }}</td>
            </tr>
            <tr>
                <th>Respiration Rates</th>
                <td>{{ data.respiration_rates }}</td>
            </tr>
            <tr>
                <th>Temperature (°F)</th>
                <td>{{ data.temp }}</td>
            </tr>
            <tr>
                <th>SPO2 (%)</th>
                <td>{{ data.spo2 }}</td>
            </tr>
            <tr>
                <th>Fees</th>
                <td>{{ data.fees }}</td>
            </tr>
            <tr>
                <th>Advanced Fees</th>
                <td>{{ data.advanced_fees }}</td>
            </tr>
            <tr>
                <th>BHT No</th>
                <td>{{ data.bht_no }}</td>
            </tr>
            <tr>
                <th>UID (Adhar Number)</th>
                <td>{{ data.uid }}</td>
            </tr>
            <tr>
                <th>Guardian Name</th>
                <td>{{ data.guardian }}</td>
            </tr>
            <tr>
                <th>Ward/Bed No.</th>
                <td>{{ data.ward_bed }}</td>
            </tr>
            <tr>
                <th>No. of Beds</th>
                <td>{{ data.no_of_beds }}</td>
            </tr>
            <tr>
                <th>Operation Date</th>
                <td>{{ data.operation_date }}</td>
            </tr>
            <tr>
                <th>Admission Type</th>
                <td>{{ data.addmission_type }}</td>
            </tr>
            <tr>
                <th>MLC No</th>
                <td>{{ data.mlc_no }}</td>
            </tr>
            <tr>
                <th>ICD</th>
                <td>{{ data.icd }}</td>
            </tr>
            <tr>
                <th>Provisional Diagnosis</th>
                <td>{{ data.provisonal_diagnosis }}</td>
            </tr>
            <tr>
                <th>Final Diagnosis</th>
                <td>{{ data.final_diagnosis }}</td>
            </tr>
            <tr>
                <th>Summary of Case</th>
                <td>{{ data.summary_of_case }}</td>
            </tr>
            <tr>
                <th>Staff Nurse (Assigned)</th>
                <td>{{ data.staff.admin.get_full_name }}</td>
            </tr>
            <tr>
                <th>Facilities</th>
                <td>{{ data.facilities }}</td>
            </tr>
            <tr>
                <th>Result</th>
                <td>{{ data.result }}</td>
            </tr>
            <tr>
                <th>Cause of Death</th>
                <td>{{ data.couse_of_death }}</td>
            </tr>
            <tr>
                <th>Remark</th>
                <td>{{ data.remark }}</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
