{% extends 'hod_templates/base_template.html' %}
{% load static %}
{% block page_title %}
<h5>{{ title }} </h5>
{% endblock page_title %}

{% block main_content %}
<section class="content">

    {% if messages %}
    <div class="form-group">
        <div class="col-12">
            {% for message in messages %}
            {% if message.tags == "error" %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% elif message.tags == "success" %}
            <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="px-3">
        <div class="card card-primar">
            <div class="card-header">
                <span>Patients Records</span>
                <div class="card-tools d-flex">
                    <a class="btn btn-sm btn-info mr-2" href="{% url 'patient_form' %}" role="button">+ Add Patient</a>
                </div>
            </div>
            <div class="card-body table-responsive">
                <input type="text" id="filter" class="form-control mb-3" placeholder="Search Patients..." style="width: 30%; float:right">
                <table class="table table-hover dataTable" id="plist">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Profile</th>
                            <th>UserName</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Last Login</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for patient in patients %}
                        <tr class="hov">
                            <td>{{ patient.admin.id }}</td>
                            <td><img src="{{ patient.profile_pic.url }}" class="" width="35" height="35" alt=""></td>
                            <td>{{ patient.admin.username }}</td>
                            <td>{% if patient.first_name %} {{ patient.first_name }} {% endif %}</td>
                            <td>{% if patient.last_name %} {{ patient.last_name }} {% endif %}</td>
                            <td>{% if patient.admin.email %} {{ patient.admin.email }} {% endif %}</td>
                            <td>{% if patient.phone_number %} {{ patient.phone_number }} {% endif %}</td>
                            <td>{{ patient.admin.last_login }}</td>
                            <td>
                                <a href="{% url 'edit_patient' patient.admin.id %}" class="btn btn-sm btn-success"><i class="fa fa-edit"></i></a>
                                <a href="{% url 'delete_patient' patient.id %}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
