{% extends 'hod_templates/base_template.html'%}
{% load crispy_forms_tags %}
{% block page_title %}
<h5>{{title}} </h5>

{% endblock page_title %}
{% block main_content %}
<section class="content" style="">
    <div class="container-fluid">

        <div class="row mt-3">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">{{title}} </h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->

                    <form id="myForm" role="form" method="POST" enctype="multipart/form-data" class="uniForm">

                        {% csrf_token %}
                        {% if messages %}
                        <div class="form-group">
                            <div class="col-12">
                                {% for message in messages %} {% if message.tags == "error" %}
                                <div class="col-sm-12">
                                    <div class="alert fade alert-simple alert-danger alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show mt-1 " role="alert" data-brk-library="component__alert">
                                        <button type="button" class="close font__size-18" data-dismiss="alert">
                                                                    <span aria-hidden="true">
                                                                        <i class="fa fa-times danger "></i>
                                                                    </span>
                                                                    <span class="sr-only">Close</span>
                                                                </button>
                                        <i class="start-icon far fa-times-circle faa-pulse animated"></i>
                                        <strong class="font__weight-semibold">Oh snap!</strong> {{message}}
                                    </div>
                                </div>
                                {% elif message.tags == "success" %}
                                <div class="alert fade alert-simple alert-success alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show mt-1">
                                    <button type="button" class="close font__size-18" data-dismiss="alert">
                                                                  <span aria-hidden="true">
                                                  <i class="fa fa-times greencross"></i>
                                                  </a></span>
                                                                  <span class="sr-only">Close</span> 
                                                              </button>
                                    <i class="start-icon far fa-check-circle faa-tada animated"></i>
                                    <strong class="font__weight-semibold">Well done!</strong> {{message}}
                                </div>
                                {% endif %} {% endfor %}
                            </div>
                        </div>
                        {% endif %}


                        <div class="card-body row">
                            <div id="div_id_first_name" class="mb-3 col-md-4 col-sm-6 col-xs-12"> <label for="id_first_name" class="form-label">
                                First name<span class="asteriskField">*</span> 
                                </label> <input type="text" name="first_name" {% if instance.first_name %} value="{{instance.first_name}}" {% endif %} maxlength="36" class="textinput form-control" id="id_first_name" required=""> 
                            </div>
                            <div id="div_id_last_name" class="mb-3 col-md-4 col-sm-6 col-xs-12"> <label for="id_last_name" class="form-label">
                                Last name
                                </label> <input type="text" name="last_name" {% if instance.last_name %} value="{{instance.last_name}}" {% endif %} maxlength="36" class="textinput form-control" id="id_last_name"> 
                            </div>
                            <div id="div_id_gender" class="mb-3 col-md-4 col-sm-6 col-xs-12">
                                <label for="id_gender" class="form-label">
                                Gender
                                </label> 
                                <select name="gender" class="form-control select form-select" id="id_gender">
                                    <option value="" {% if instance.gender %} {% else %} selected="" {% endif %} >---------</option>
                                    <option value="Male" {% if instance.gender == "Male" %} selected="" {% endif %} >Male</option>
                                    <option value="Female" {% if instance.gender == "Female" %} selected="" {% endif %} >Female</option>
                                </select>
                            </div>
                            <div id="div_id_dob" class="mb-3 col-md-3 col-sm-6 col-xs-12"> <label for="id_dob" class="form-label">
                                Age(DOB)
                                </label> <input type="date" name="dob" {% if instance.dob %} value="{{instance.dob|date:'Y-m-d'}}" {% endif %} class="dateinput form-control" id="id_dob"> 
                            </div>
                            <div id="div_id_marital_status" class="mb-3 col-md-3 col-sm-6 col-xs-12">
                                <label for="id_marital_status" class="form-label requiredField">
                                Marital Status<span class="asteriskField">*</span> </label> 
                                <select name="marital_status" class="form-control select form-select" id="id_marital_status">
                                    <option value="Single" {% if instance.marital_status == "Single" %} selected="" {% endif %} >Single</option>
                                    <option value="Married" {% if instance.marital_status == "Married" %} selected="" {% endif %} >Married </option>
                                    <option value="Separated" {% if instance.marital_status == "Separated" %} selected="" {% endif %} >Separated</option>
                                    <option value="Widow" {% if instance.marital_status == "Widow" %} selected="" {% endif %} >Widow</option>
                                </select>
                            </div>
                            <div id="div_id_bg" class="mb-3 col-md-3 col-sm-6 col-xs-12">
                                <label for="id_bg" class="form-label requiredField">
                                Blood Group<span class="asteriskField">*</span> </label> 
                                <select name="bg" class="form-control select form-select" id="id_bg">
                                    <option value="Not Known" {% if instance.bg == "Not Known" %} selected="" {% endif %} >Not Known</option>
                                    <option value="A+" {% if instance.bg == "A+" %} selected="" {% endif %} >A+</option>
                                    <option value="A-" {% if instance.bg == "A-" %} selected="" {% endif %} >A-</option>
                                    <option value="B+" {% if instance.bg == "B+" %} selected="" {% endif %} >B+</option>
                                    <option value="B-" {% if instance.bg == "B-" %} selected="" {% endif %} >B-</option>
                                    <option value="O+" {% if instance.bg == "O+" %} selected="" {% endif %} >O+</option>
                                    <option value="O-" {% if instance.bg == "O-" %} selected="" {% endif %} >O-</option>
                                    <option value="AB+" {% if instance.bg == "AB+" %} selected="" {% endif %} >AB+</option>
                                    <option value="AB-" {% if instance.bg == "AB-" %} selected="" {% endif %} >AB-</option>
                                </select>
                            </div>
                            <div id="div_id_language" class="mb-3 col-md-3 col-sm-6 col-xs-12">
                                <label for="id_language" class="form-label">
                                Language Preference
                                </label> 
                                <input type="text" name="language" {% if instance.language %} value="{{instance.language.name}}" {% endif %} class="form-control languageinput" maxlength="50" id="id_language" required=""> 
                                {% comment %} <select name="language" class="form-control select form-select" id="id_language">
                                    {% if instance.language %}
                                    {% for l in languages %}
                                    <option value="{{l.id}}" {% if instance.language == l %} selected="" {% endif %}> {{l}} </option>
                                    {% endfor %}
                                    {% else %}
                                    <option value="" selected="">---------</option>
                                    {% for l in languages %}
                                    <option value="{{l.id}}" {% if instance.language.id == l.id %} selected="" {% endif %}> {{l}} </option>
                                    {% endfor %}
                                    {% endif %}
                                </select> {% endcomment %}
                            </div>
                            
                            <div id="div_id_email" class="mb-3 col-md-4 col-sm-6 col-xs-12"> <label for="id_email" class="form-label">
                                Email<span class="asteriskField">*</span> 
                                </label> <input type="email" name="email" {% if instance.admin.email %} value="{{instance.admin.email}}" disabled {% endif %} class="form-control emailinput" maxlength="50" id="id_email" required=""> 
                            </div>

                            <div id="div_id_phone_number" class="mb-3 col-md-4 col-sm-6 col-xs-12"> <label for="id_phone_number" class="form-label">
                                Phone number
                                </label> <input type="text" name="phone_number" {% if instance.phone_number %} value="{{instance.phone_number}}" {% endif %} maxlength="15" class="textinput form-control" id="id_phone_number"> 
                            </div>
                            <div id="div_id_phone_number2" class="mb-3 col-md-4 col-sm-6 col-xs-12"> <label for="id_phone_number2" class="form-label">
                                Phone number2
                                </label> <input type="text" name="phone_number2" {% if instance.phone_number2 %} value="{{instance.phone_number2}}" {% endif %} maxlength="15" class="textinput form-control" id="id_phone_number2"> 
                            </div>
                            <div id="div_id_address" class="mb-3 col-md-6 col-sm-6 col-xs-12"> <label for="id_address" class="form-label">
                                Address
                                </label> <input type="text" name="address" {% if instance.address %} value="{{instance.address}}" {% endif %} maxlength="100" class="textinput form-control" id="id_address"> 
                            </div>
                            <div id="div_id_city" class="mb-3 col-md-3 col-sm-3 col-xs-12"> <label for="id_city" class="form-label">
                                City
                                </label> <input type="text" name="city" {% if instance.city %} value="{{instance.city}}" {% endif %} maxlength="36" class="textinput form-control" id="id_city"> 
                            </div>
                            <div id="div_id_pin_code" class="mb-3 col-md-3 col-sm-3 col-xs-12"> <label for="id_pin_code" class="form-label">
                                Pin code
                                </label> <input type="number" name="pin_code" {% if instance.pin_code %} value="{{instance.pin_code}}" {% endif %} min="0" class="numberinput form-control" id="id_pin_code"> 
                            </div>
                            <div id="div_id_abha_no" class="mb-3 col-md-3 col-sm-6 col-xs-12"> <label for="id_abha_no" class="form-label">
                                Abha Number
                                </label> <input type="text" name="abha_no" {% if instance.abha_no %} value="{{instance.abha_no}}" {% endif %} maxlength="100" class="textinput form-control" id="id_abha_no"> 
                            </div>
                            <div id="div_id_pm_jay" class="mb-3 col-md-3 col-sm-6 col-xs-12"> <label for="id_pm_jay" class="form-label">
                                PM Jay
                                </label> <input type="text" name="pm_jay" {% if instance.pm_jay %} value="{{instance.pm_jay}}" {% endif %} maxlength="100" class="textinput form-control" id="id_pm_jay"> 
                            </div>
                            <div id="div_id_adhar" class="mb-3 col-md-3 col-sm-6 col-xs-12"> <label for="id_adhar" class="form-label">
                                Adhar Number
                                </label> <input type="text" name="adhar" {% if instance.adhar %} value="{{instance.adhar}}" {% endif %} maxlength="15" class="textinput form-control" id="id_adhar"> 
                            </div>
                            <div id="div_id_passport" class="mb-3 col-md-3 col-sm-6 col-xs-12"> <label for="id_passport" class="form-label">
                                Passport Number
                                </label> <input type="text" name="passport" {% if instance.passport %} value="{{instance.passport}}" {% endif %} maxlength="100" class="textinput form-control" id="id_passport"> 
                            </div>
                            <div id="div_id_pan" class="mb-3 col-md-3 col-sm-6 col-xs-12"> <label for="id_pan" class="form-label">
                                PAN Number
                                </label> <input type="text" name="pan" {% if instance.pan %} value="{{instance.pan}}" {% endif %} maxlength="100" class="textinput form-control" id="id_pan"> 
                            </div>
                            <div id="div_id_dl" class="mb-3 col-md-3 col-sm-6 col-xs-12"> <label for="id_dl" class="form-label">
                                Driving Licence Number
                                </label> <input type="text" name="dl" {% if instance.dl %} value="{{instance.dl}}" {% endif %} maxlength="100" class="textinput form-control" id="id_dl"> 
                            </div>
                            <div id="div_id_cat" class="mb-3 col-md-3 col-sm-6 col-xs-12"> <label for="id_cat" class="form-label">
                                Govt. Reservation Category
                                </label> <input type="text" name="cat" {% if instance.cat %} value="{{instance.cat}}" {% endif %} maxlength="100" class="textinput form-control" id="id_cat"> 
                            </div>
                            <div id="div_id_cast" class="mb-3 col-md-3 col-sm-6 col-xs-12"> <label for="id_cast" class="form-label">
                                Cast
                                </label> <input type="text" name="cast" {% if instance.cast %} value="{{instance.cast}}" {% endif %} maxlength="100" class="textinput form-control" id="id_cast"> 
                            </div>
                            <div id="div_id_religion" class="mb-3 col-md-3 col-sm-6 col-xs-12"> <label for="id_religion" class="form-label">
                                Religion
                                </label> <input type="text" name="religion" {% if instance.religion %} value="{{instance.religion}}" {% endif %} maxlength="100" class="textinput form-control" id="id_religion"> 
                            </div>
                            <div id="div_id_nationality" class="mb-3 col-md-3 col-sm-6 col-xs-12"> <label for="id_nationality" class="form-label">
                                Nationality
                                </label> <input type="text" name="nationality" {% if instance.nationality %} value="{{instance.nationality}}" {% endif %} maxlength="100" class="textinput form-control" id="id_nationality"> 
                            </div>
                            <div id="div_id_education" class="mb-3 col-md-3 col-sm-6 col-xs-12"> <label for="id_education" class="form-label">
                                Education
                                </label> <input type="text" name="education" {% if instance.education %} value="{{instance.education}}" {% endif %} maxlength="100" class="textinput form-control" id="id_education"> 
                            </div>
                            <div id="div_id_occupation" class="mb-3 col-md-3 col-sm-6 col-xs-12"> <label for="id_occupation" class="form-label">
                                Occupation
                                </label> <input type="text" name="occupation" {% if instance.occupation %} value="{{instance.occupation}}" {% endif %} maxlength="100" class="textinput form-control" id="id_occupation"> 
                            </div>
                            <div id="div_id_activity" class="mb-3 col-md-3 col-sm-6 col-xs-12">
                                <label for="id_activity" class="form-label">
                                Activity Level
                                </label> 
                                <select name="activity" class="form-control select form-select" id="id_activity">
                                    <option value="" selected="">---------</option>
                                    <option value="High">High</option>
                                    <option value="Low">Low</option>
                                    <option value="Medium">Medium</option>
                                </select>
                            </div>
                            <div id="div_id_food_preference" class="mb-3 col-md-3 col-sm-6 col-xs-12">
                                <label for="id_food_preference" class="form-label">
                                Food Preference
                                </label> 
                                <select name="food_preference" class="form-control select form-select" id="id_food_preference">
                                    <option value="" selected="">---------</option>
                                    <option value="Veg">Veg</option>
                                    <option value="Non Veg">Non Veg</option>
                                </select>
                            </div>
                            <div id="div_id_smooking" class="mb-3 col-md-3 col-sm-6 col-xs-12">
                                <label for="id_smooking" class="form-label">
                                Smoking Habits
                                </label> 
                                <select name="smooking" class="form-control select form-select" id="id_smooking">
                                    <option value="" selected="">---------</option>
                                    <option value="Frequent">Frequent</option>
                                    <option value="Daily">Daily</option>
                                    <option value="Sometime">Sometime</option>
                                    <option value="Never">Never</option>
                                </select>
                            </div>
                            <div id="div_id_alcohol" class="mb-3 col-md-3 col-sm-6 col-xs-12">
                                <label for="id_alcohol" class="form-label">
                                Alcohol Consumption
                                </label> 
                                <select name="alcohol" class="form-control select form-select" id="id_alcohol">
                                    <option value="" selected="">---------</option>
                                    <option value="Frequent">Frequent</option>
                                    <option value="Daily">Daily</option>
                                    <option value="Sometime">Sometime</option>
                                    <option value="Never">Never</option>
                                </select>
                            </div>

                        {% comment %} <div class="card-body">
                            {{form|crispy}}
                            <!-- <div class="form-group">
                                {% for field in form %}
                        
                                        {{ field.errors }}
                                        {{ field.label_tag }}
                                        {{ field }}
                                        {% endfor %}

                                    </div> -->




                        </div> {% endcomment %}
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" name="action" class="btn btn-primary" value="submit1">Save</button>
                            {% comment %} <button type="submit" name="action" class="btn btn-primary" value="submit2">Save & Next</button> {% endcomment %}
                        </div>
                    </form>
                </div>
                <!-- /.card -->

            </div>
        </div>

    </div>

</section>
{% endblock main_content %}