<style>
    .active {
    background-color: #ffc107; /* Set the background color to highlight the active element */
    color: #000000; /* Set the text color for better visibility */
    font-weight: bold; /* Optionally, make the text bold to emphasize the active state */
}
</style>
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link ml-2">
        {% if request.user.adminhod.profile_pic.url %}
        <img src="{{request.user.adminhod.profile_pic.url}}" alt="" width="36" height="36"
             class=" img-circle elevation-3" style="opacity: .8">
        {% endif %}
        <span class="brand-text font-weight-light mt-1 ml-3 mmust"><i>Wooshelf</i></span>
    </a>


    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        {% comment %} <div class="user-panel mr-3">
            <div class="pull-left image sm-submenu-with-image a ml-2 ">
                <img src="{{request.user.adminhod.profile_pic.url}}" class="img-circle mt-2" width="36" height="36"
                     alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{user.first_name}} {{user.last_name}}</p>
                <a href="#"><i class="fa fa-circle text-success "></i> Online</a>
            </div>
        </div> {% endcomment %}


        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                    <a href="{% url  'admin_dashboard' %}" class="nav-link">
                        <i class="fas fa-tachometer-alt mr-2"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link {% if request.path == '/admin_user/patient_form/' or request.path == '/admin_user/all_patients/' %}active{% endif %}">
                        <i class="fas fa-hospital-user mr-2"></i>
                        <p>
                            Patient
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item pl-2 {% if request.path == '/admin_user/patient_form/' %}active{% endif %}">
                            <a href="{% url 'patient_form' %}" class="nav-link">
                                <i class="fas fa-user-plus"></i>
                                <p class="pl-2">add Patient</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2 {% if request.path == '/admin_user/all_patients/' %}active{% endif %}">
                            <a href="{% url 'all_patients'  %}" class="nav-link">
                                <i class="fas fa-th"></i>
                                <p class="pl-2">Manage Patient</p>
                            </a>
                        </li>
                    </ul>

                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-address-book mr-2"></i>
                        <p>
                            Pharmacist (Custumer)
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item pl-2">
                            <a href="{% url 'add_pharmacist' %}" class="nav-link">
                                <i class="fas fa-user-plus"></i>
                                <p class="pl-2">add Pharmacist</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2">
                            <a href="{% url 'manage_pharmacist'  %}" class="nav-link">
                                <i class="fas fa-th"></i>
                                <p class="pl-2">Manage Pharmacist</p>
                            </a>
                        </li>

                    </ul>
                </li>
                
                {% comment %} Vender {% endcomment %}
                {% comment %} <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-address-book mr-2"></i>
                        <p>
                            Vender
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item pl-2">
                            <a href="{% url 'add_vender' %}" class="nav-link">
                                <i class="fas fa-user-plus"></i>
                                <p class="pl-2">add Vender</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2">
                            <a href="{% url 'manage_vender'  %}" class="nav-link">
                                <i class="fas fa-th"></i>
                                <p class="pl-2">Manage Vender</p>
                            </a>
                        </li>

                    </ul>
                </li> {% endcomment %}

                
                {% comment %} Suppliers {% endcomment %}
                {% comment %} <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-address-book mr-2"></i>
                        <p>
                            Supplier
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item pl-2">
                            <a href="{% url 'add_supplier' %}" class="nav-link">
                                <i class="fas fa-user-plus"></i>
                                <p class="pl-2">add Supplier</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2">
                            <a href="{% url 'manage_supplier'  %}" class="nav-link">
                                <i class="fas fa-th"></i>
                                <p class="pl-2">Manage Suppliers</p>
                            </a>
                        </li>

                    </ul>
                </li> {% endcomment %}

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-briefcase-medical mr-2"></i>
                        <p>
                            Doctor
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item pl-2">
                            <a href="{% url 'add_doctor' %}" class="nav-link">
                                <i class="fas fa-user-plus"></i>
                                <p class="pl-2">add Doctor</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2">
                            <a href="{% url 'manage_doctor'  %}" class="nav-link">
                                <i class="fas fa-th"></i>
                                <p class="pl-2">Manage Doctor</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fas fa-chalkboard-teacher mr-2"></i>
                        <p>
                            PharmacyClerk
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">

                        <li class="nav-item pl-2">
                            <a href="{% url 'add_pharmacyClerk' %}" class="nav-link">
                                <i class="fas fa-user-plus"></i>
                                <p class="pl-2">add PharmacyClerk</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2">
                            <a href="{% url 'manage_pharmacyClerk'  %}" class="nav-link">
                                <i class="fas fa-th"></i>

                                <p class="pl-2">Manage PharmacyClerk</p>
                            </a>
                        </li>

                    </ul>
                </li>


                <li class="nav-item">
                    <a href="#" class="nav-link {% if request.path == '/admin_user/manage_stock/' or request.path == '/admin_user/add_stock/' or request.path == '/admin_user/add_category/' or request.path == '/admin_user/manage_category/' or request.path == '/admin_user/manage_manufacturer/' or request.path == '/admin_user/manage_vender/' or request.path == '/admin_user/manage_drug_type/' or request.path == '/admin_user/manage-stock-expired/' %} active {% endif %}">
                        <i class="fas fa-layer-group mr-2"></i>
                        <p>
                            Stocked Medicines
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item pl-2 {% if request.path == '/admin_user/add_stock/' %}active{% endif %}">
                            <a href="{% url 'add_stock' %}" class="nav-link">
                                <i class="fas fa-capsules"></i>
                                <p class="pl-2">Add Medicines</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2 {% if request.path == '/admin_user/manage_stock/' %}active{% endif %}">
                            <a href="{% url 'manage_stock' %}" class="nav-link">
                                <i class="fas fa-capsules"></i>
                                <p class="pl-2">Manage Medicines</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2 {% if request.path == '/admin_user/manage-stock-expired/' %}active{% endif %}">
                            <a href="{% url 'manage_stock_expired' %}" class="nav-link">
                                <i class="fas fa-capsules"></i>
                                <p class="pl-2">Expired Medicines</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2 {% if request.path == '/admin_user/manage_category/' %}active{% endif %}">
                            <a href="{% url 'manage_category'  %}" class="nav-link">
                                <i class="fas fa-pills"></i>
                                <p class="pl-2">Category</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2 {% if request.path == '/admin_user/manage_manufacturer/' %}active{% endif %}">
                            <a href="{% url 'manage_manufacturer'  %}" class="nav-link">
                                <i class="fas fa-pills"></i>
                                <p class="pl-2">Manufacturer</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2 {% if request.path == '/admin_user/manage_vender/' %}active{% endif %}">
                            <a href="{% url 'manage_vender'  %}" class="nav-link">
                                <i class="fas fa-pills"></i>
                                <p class="pl-2">Vender</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2 {% if request.path == '/admin_user/manage_drug_type/' %}active{% endif %}">
                            <a href="{% url 'manage_drug_type'  %}" class="nav-link">
                                <i class="fas fa-pills"></i>
                                <p class="pl-2">Type</p>
                            </a>
                        </li>
                        {% comment %} <li class="nav-item pl-2 {% if request.path == '/admin_user/manage_stock/' %}active{% endif %}">
                            <a href="{% url 'manage_stock'  %}" class="nav-link">
                                <i class="fas fa-th"></i>
                                <p class="pl-2">Manage Stock</p>
                            </a>
                        </li> {% endcomment %}

                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link {% if request.resolver_match.url_name == 'new_purchase' or request.resolver_match.url_name == 'purchase_history' %}active{% endif %}">
                        <i class="fas fa-file-invoice mr-2"></i>
                        <p>
                            Purchased Invoice
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item pl-2 {% if request.resolver_match.url_name == 'new_purchase' %}active{% endif %}">
                            <a href="{% url 'new_purchase'  %}" class="nav-link">
                                <i class="fas fa-circle"></i>
                                <p class="pl-2">New Purchase</p>
                            </a>
                        </li>
                        <li class="nav-item pl-2 {% if request.resolver_match.url_name == 'purchase_history' %}active{% endif %}">
                            <a href="{% url 'purchase_history'  %}" class="nav-link">
                                <i class="fas fa-circle"></i>

                                <p class="pl-2">Purchased History</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="{% url 'manage_stock2' %}" class="nav-link {% if request.path == '/manage_stock2/' %}active{% endif %}">
                        <i class="fas fa-layer-group mr-2"></i>
                        <p>
                            Sell Invoice
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>